
@{
    ViewData["Title"] = "BeklemeAyrinti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model tiqpwa.ViewModels.ProjeListeViewModel
<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            i18n: {
                months: [
                    'Ocak',
                    'Şubat',
                    'Mart',
                    'Nisan',
                    'Mayıs',
                    'Haziran',
                    'Temmuz',
                    'Ağustos',
                    'Eylül',
                    'Ekim',
                    'Kasım',
                    'Aralık'
                ],
                monthsShort: [
                    'Oca',
                    'Şub',
                    'Mar',
                    'Nis',
                    'May',
                    'Haz',
                    'Tem',
                    'Ağu',
                    'Eyl',
                    'Eki',
                    'Kas',
                    'Ara'
                ],
                weekdays: [
                    'Pazar',
                    'Pazartesi',
                    'Salı',
                    'Çarşamba',
                    'Perşembe',
                    'Cuma',
                    'Cumartesi'

                ],
                weekdaysShort: [
                    'Pz',
                    'Pzt',
                    'Sl',
                    'Çrş',
                    'Prş',
                    'Cm',
                    'Cmt'
                ],
                weekdaysAbbrev: ['P', 'Pzt', 'S', 'Ç', 'Pr', 'C', 'Cts'],
                cancel: 'Geri',
                clear: 'Temizle',
                done: 'Tamam'
            },
            firstDay: 1,
            autoClose: true
        });
    });
</script>
<div class="row" style="margin-top:20px">
    <img src="~/karaman.png" style="width: 100px" />
    <a href="@Url.Action("Index", "Anasayfa")" class="waves-effect waves-light btn-small red lighten-1 secondary-content" style="margin-top:5px" onclick="M.toast({html: 'Sayfa Yükleniyor...'})"><b style="color:white"> Geri </b></a>
</div>


<div class="card-panel white hoverable" style="margin-top:10px;">
    <div class="center-align">
        <p><b> Bilgileri Güncelle </b></p>
    </div>
    <form class="col s12" asp-action="BeklemeAyrinti" asp-validation-summary="all" style="border-spacing: -50px -50px;">
        <div>
            <div class="input-field">
                <input type="hidden" asp-for="Proje.ProjeID" value="@Model.Proje.ProjeID" />
            </div>
        </div>
        <div>
            <div class="input-field">
                <input type="hidden" asp-for="Proje.IsinCinsi" value="@Model.Proje.IsinCinsi" />
            </div>
        </div>
        <div>
            <div class="input-field">
                <input type="hidden" asp-for="Proje.YetkiliID" value="@Model.Proje.YetkiliID" />
            </div>
        </div>
        <div>
            <div class="input-field">
                <input type="hidden" asp-for="Proje.ProjeDurumu" value="@Model.Proje.ProjeDurumu" />
            </div>
        </div>
        <div class="col s12">
            <div class="input-field">
                <input id="proje_adi"  asp-for="Proje.ProjeAdi" value="@Model.Proje.ProjeAdi" type="text">
                <label for="proje_adi"><b> Proje Adı :</b></label>
            </div>
        </div>
        <div class="col s12">
            <label for="tarih"><b>Proje Tarihi :</b></label>
            <input id="tarih" type="text"  asp-for="Proje.ProjeTarihi" value="@Model.Proje.ProjeTarihi" class="datepicker">
        </div>
        <div class="col s12">
            <label for="bekleme_tarih"><b>Bekleme Alınma Tarihi :</b></label>
            <input id="bekleme_tarih" type="text" asp-for="Proje.BeklemeAlinmaTarihi" value="@Model.Proje.BeklemeAlinmaTarihi" class="datepicker">
        </div>
        <div class="col s12">
            <div class="input-field">
                <input id="ilgili_personel" type="text"  asp-for="Proje.IlgiliPersonel" value="@Model.Proje.IlgiliPersonel">
                <label for="ilgili_personel"> <b>Yetkili Kişi :</b></label>
            </div>
        </div>
        <div class="col s12">
            <div class="input-field">
                <input id="yetkili_tel" type="text"  asp-for="Proje.YetkiliTelefon" value="@Model.Proje.YetkiliTelefon">
                <label for="yetkili_tel"> <b>Yetkili Telefon :</b></label>
            </div>
        </div>

        <div class="col s12">
            <div class="input-field">
                <select id="isin_konusu"  asp-for="Proje.IsinKonusu">
                    @foreach (var item in Model.Konular)
                    {
                        if (item.KonuID == Model.Proje.IsinKonusu)
                        {
                            <option value="@item.KonuID" selected>@item.Aciklama</option>
                        }
                        else
                        {
                            <option value="@item.KonuID">@item.Aciklama</option>
                        }
                    }
                </select>
                <label for="isin_konusu"><b>Konu :</b></label>
            </div>
        </div>

        <div class="col s12">
            <div class="input-field">
                <input id="lokasyon" type="text"  asp-for="Proje.Lokasyon" value="@Model.Proje.Lokasyon">
                <label for="lokasyon"> <b>Lokasyon :</b></label>
            </div>
        </div>
        <div class="col s12">
            <div class="input-field">
                <textarea id="bekleme_sebep" class="materialize-textarea"  asp-for="Proje.BeklemeSebebi" value="@Model.Proje.BeklemeSebebi"></textarea>
                <label for="bekleme_sebep"> <b>Bekleme Alınma Sebebi :</b></label>
            </div>
        </div>
        <div class="col s12">
            <div class="input-field">
                <textarea id="proje_not" class="materialize-textarea"  asp-for="Proje.ProjeNot" value="@Model.Proje.ProjeNot"></textarea>
                <label for="proje_not"> <b>Not Ekle :</b></label>
            </div>
        </div>
        <div class="col s12">
            <div class="input-field">
                <textarea id="kullanilan_urun" class="materialize-textarea"  asp-for="Proje.IlaveKullanilanUrun" value="@Model.Proje.IlaveKullanilanUrun"></textarea>
                <label for="kullanilan_urun"> <b>İlave Kullanılan Ürünler :</b></label>
            </div>
        </div>
        <div class="center-align">
            <button class="waves-effect waves-light btn-small green  darken-1" type="submit" style="margin-top: 5px" onclick="M.toast({ html: 'Kaydediliyor...' })"><b style="color: white"> Kaydet </b></button>
        </div>
    </form>
    <div class="center-align">
        <a href="@Url.Action("Index", "Anasayfa")" class="waves-effect waves-light btn-small red    darken-1 " style="margin-top:5px" onclick="M.toast({html: 'Sayfa Yükleniyor...'})"><b style="color:white"> İptal Et</b></a>
        <a href="@Url.Action("Index", "Anasayfa")" class="waves-effect waves-light btn-small blue   darken-1 " style="margin-top:5px" onclick="M.toast({html: 'Sayfa Yükleniyor...'})"><b style="color:white"> Tamamlandı </b></a>
    </div>


</div>

