
@{
    ViewData["Title"] = "Devam Eden İşler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model tiqpwa.Entities.Concrete.Proje
<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
<style>
    p, input {
        font-size: 14px;
    }

        p b {
            font-size: 25px;
            color: #096669;
        }
    /* label color */
    .input-field label b {
        margin-left: 5px;
        color: #096669;
    }
    /* label focus color */
    .input-field input[type=text]:focus + label {
        color: #096669;
    }
    /* label underline focus color */
    .input-field input[type=text]:focus {
        border-bottom: 1px solid #096669;
        box-shadow: 0 1px 0 0 #096669;
    }
    /* valid color */
    .input-field input[type=text] {
        border-bottom: 1px solid #096669;
        box-shadow: 0 1px 0 0 #096669;
    }
    /* invalid color */
    .input-field input[type=text] {
        border-bottom: 1px solid #096669;
        box-shadow: 0 1px 0 0 #096669;
    }
    /* icon prefix focus color */
    .input-field {
        color: #096669;
    }
</style>

<!--<input type="file" accept="image/x-png,image/jpeg,image/gif" />-->

<div class="card-panel white hoverable eklemeform" style="margin-top:20px;">
    <div class="center-align">
        <p><b>Yeni İş Kaydı</b></p>
    </div>
    <form class="col s12" style="border-spacing:-50px -50px;">
        <ul class="collection">
            <li class="collection-item">
                <div class="col s12">
                    <div class="input-field">
                        <input id="proje_adi" class="validate" value="@Model.ProjeAdi" type="text">
                        <label for="proje_adi"><b> Proje Adı :</b></label>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="col s12">
                    <div class="input-field">
                        <input id="proje_adi" type="text" value="@Model.IlgiliPersonel">
                        <label for="proje_adi"> <b>Yetkili Kişi :</b></label>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="col s12">
                    <div class="input-field">
                        <input id="proje_adi" type="text" value="@Model.YetkiliTelefon">
                        <label for="proje_adi"> <b>Yetkili Telefon :</b></label>
                    </div>
                </div>
            </li>
           
            <li class="collection-item">
                <div class="col s12">
                    <div class="input-field">
                        <input id="proje_adi" type="text" value="@Model.Lokasyon">
                        <label for="proje_adi" style="margin-left:5px"> <b>Lokasyon :</b></label>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="col s12">
                    <div class="input-field">
                        <input id="proje_adi" type="text" value="@Model.ProjeTarihi">
                        <label for="proje_adi" style="margin-left:5px"> <b>Tarih :</b></label>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="col s12">
                    <div class="input-field">
                        <input id="proje_adi" type="text">
                        <label for="proje_adi" style="margin-left:5px"> <b>Saat :</b></label>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="col s12">
                    <div class="input-field">
                        <input id="proje_adi" type="text" value="@Model.IsinAciklamasi">
                        <label for="proje_adi" style="margin-left:5px"> <b>İşin Açıklaması :</b></label>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Fotoğraf Yükle</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </form>



</div>

