
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http;
@using tiqpwa.Entities.Concrete
@using tiqpwa.ExtensionMethods
@model tiqpwa.ViewModels.AnasayfaViewModel;
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            i18n: {
                months: [
                    'Ocak',
                    'Şubat',
                    'Mart',
                    'Nisan',
                    'Mayıs',
                    'Haziran',
                    'Temmuz',
                    'Ağustos',
                    'Eylül',
                    'Ekim',
                    'Kasım',
                    'Aralık'
                ],
                monthsShort: [
                    'Oca',
                    'Şub',
                    'Mar',
                    'Nis',
                    'May',
                    'Haz',
                    'Tem',
                    'Ağu',
                    'Eyl',
                    'Eki',
                    'Kas',
                    'Ara'
                ],
                weekdays: [
                    'Pazar',
                    'Pazartesi',
                    'Salı',
                    'Çarşamba',
                    'Perşembe',
                    'Cuma',
                    'Cumartesi'

                ],
                weekdaysShort: [
                    'Pz',
                    'Pzt',
                    'Sl',
                    'Çrş',
                    'Prş',
                    'Cm',
                    'Cmt'
                ],
                weekdaysAbbrev: ['P', 'Pzt', 'S', 'Ç', 'Pr', 'C', 'Cts'],
                cancel: 'Geri',
                clear: 'Temizle',
                done: 'Tamam'
            },
            firstDay: 1,
            autoClose: true
        });
    });
</script>


<div class="center" style="margin-top:30px">
    <img src="~/karaman.png" class="responsive-img" />
</div>

<div class="col s6 m6" style="margin-top:20px">
    <p>
        <b style="font-family: 'Roboto Condensed', sans-serif; color: red;">Hoşgeldiniz,</b> <b style="color: black; font-family: 'Roboto Condensed', sans-serif;">

            @{
                Kullanici kullanıcı = Context.Session.GetObject<Kullanici>("KullanıcıObjesi");
                var isimsoyisim = kullanıcı.KullaniciAdi.ToUpper() + " " + kullanıcı.KullaniciSoyadi.ToUpper();
                @isimsoyisim
            }
        </b>
    </p>
</div>

<div class="col s12" style="margin-top:10px">
    <ul class="collapsible">
        <li>
            <a href="@Url.Action("YeniIsKaydi", "Anasayfa")" onclick="M.toast({html: 'Sayfa Yükleniyor...'})">
                <div class="collapsible-header">
                    <i class="material-icons">add</i>
                    <b>YENİ İŞ KAYDI EKLE</b>
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("YeniBakimKaydi", "Anasayfa")" onclick="M.toast({html: 'Sayfa Yükleniyor...'})">
                <div class="collapsible-header">
                    <i class="material-icons">add</i>
                    <b>YENİ BAKIM KAYDI EKLE</b>
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("DevamEdenListe", "Anasayfa")" onclick="M.toast({html: 'Sayfa Yükleniyor...'})">
                <div class="collapsible-header">
                    <i class="material-icons">chevron_right</i>
                    <b>DEVAM EDEN İŞLER</b>
                    <span class="new badge red" data-badge-caption="Proje"><b style="color: white">@Model.DevamEdenSayi</b></span>
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("BeklemeListe", "Anasayfa")" onclick="M.toast({html: 'Sayfa Yükleniyor...'})">
                <div class="collapsible-header">
                    <i class="material-icons">chevron_right</i>
                    <b>BEKLEMEDE OLAN İŞLER</b>
                    <span class="new badge red" data-badge-caption="Proje"><b style="color: white">@Model.BeklemeSayi</b></span>
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("TamamlananListe", "Anasayfa")" onclick="M.toast({html: 'Sayfa Yükleniyor...'})">
                <div class="collapsible-header">
                    <i class="material-icons">chevron_right</i>
                    <b>TAMAMLANAN İŞLER</b>
                    <span class="new badge red" data-badge-caption="Proje"><b style="color: white">@Model.TamamlananSayi</b></span>
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("IptalOlanListe", "Anasayfa")" onclick="M.toast({html: 'Sayfa Yükleniyor...'})">
                <div class="collapsible-header">
                    <i class="material-icons">chevron_right</i>
                    <b>İPTAL OLAN İŞLER</b>
                    <span class="new badge red" data-badge-caption="Proje"><b style="color: white">@Model.IptalOlanSayi</b></span>
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("BakimTakvim", "Anasayfa")" onclick="M.toast({html: 'Sayfa Yükleniyor...'})">
                <div class="collapsible-header">
                    <i class="material-icons">chevron_right</i>
                    <b>BAKIM TAKVİMİ</b>
                </div>
            </a>
        </li>
        <li>
            <form asp-action="TariheGoreGetir">
                <div class="collapsible-header">
                    <div class="input-field" style="margin-left:20px">
                        <label for="tarih"><b>TARİHE GÖRE GETİR....</b></label>
                        <input id="tarih" asp-for="Tarih" type="text" value="@Model.Tarih.ToShortDateString()" class="datepicker">
                    </div>
                    <button class="waves-effect waves-light btn-flat" style="margin-top: 20px; margin-left: 10px;" type="submit" onclick="M.toast({html: 'Sayfa Yükleniyor...'})">
                        <i class="material-icons"> search </i>
                    </button>
                </div>
            </form>
        </li>
       
    </ul>
</div>

<div class="col s12 center-align">
    <a class="waves-effect waves-light btn grey darken-3" asp-action="CikisYap" asp-controller="Anasayfa" onclick="M.toast({html: 'Çıkış Yapılıyor...'})"><span style="color:white">Çıkış Yap</span></a>
</div>
