
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http;
@using tiqpwa.Entities.Concrete
@using tiqpwa.ExtensionMethods

<div class="center" style="margin-top:30px">
    <img src="~/karaman.png" class="responsive-img"/>
</div>


<div class="col s6 m6" style="margin-top:20px">
    <p><b style="font-family: 'Roboto Condensed', sans-serif; color: red;">Hoşgeldiniz,</b> <b style="color: black; font-family: 'Roboto Condensed', sans-serif;">

        @{
            Kullanici kullanıcı = Context.Session.GetObject<Kullanici>("KullanıcıObjesi");
            var isimsoyisim = kullanıcı.KullaniciAdi.ToUpper() + " " + kullanıcı.KullaniciSoyadi;
            @isimsoyisim
        }
    </b> </p>
</div>

<div class="col s12" style="margin-top:10px">
    <ul class="collapsible">
        <li>
            <a href="@Url.Action("YeniIsKaydi", "Anasayfa")">
                <div class="collapsible-header">
                    <i class="material-icons">add</i>
                    <b>Yeni İş Kaydı Ekle</b>
                 
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("DevamEdenListe", "Anasayfa")">
                <div class="collapsible-header">
                    <i class="material-icons">chevron_right</i>
                    <b>Devam Eden İşler</b>
                    <span class="badge"><b style="color:red">1</b></span>
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("BeklemeListe", "Anasayfa")">
                <div class="collapsible-header">
                    <i class="material-icons">chevron_right</i>
                    <b>Beklemede Olan İşler</b>
                    <span class="badge"><b style="color:red">4</b></span>
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("TamamlananListe", "Anasayfa")">
                <div class="collapsible-header">
                    <i class="material-icons">chevron_right</i>
                    <b>Tamamlanan İşler</b>
                    <span class="badge"><b style="color:red">6</b></span>
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("IptalOlanListe", "Anasayfa")">
                <div class="collapsible-header">
                    <i class="material-icons">chevron_right</i>
                    <b>İptal Olan İşler</b>
                    <span class="badge"><b style="color:red">2</b></span>
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Takvim", "Anasayfa")">
                <div class="collapsible-header">
                    <i class="material-icons">chevron_right</i>
                    <b>Takvim</b>
                    <span class="badge"><b style="color:red">9</b></span>
                </div>
            </a>
        </li>
    </ul>
</div>

<div class="col s12 center-align">
    <a class="waves-effect waves-light btn grey darken-3" href="@Url.Action("Index","Giris")"><span style="color:white">Çıkış Yap</span></a>
</div>
