
@{
    ViewData["Title"] = "IptalOlanAyrinti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model tiqpwa.Entities.Concrete.Proje
<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
<div class="row" style="margin-top:20px">
    <img src="~/karaman.png" style="width: 100px" />
    <a href="@Url.Action("Index", "Anasayfa")" class="waves-effect waves-light btn-small red lighten-1 secondary-content" style="margin-top:5px" onclick="M.toast({html: 'Sayfa Yükleniyor...'})"><b style="color:white"> Geri </b></a>
</div>


<div class="card-panel white hoverable" style="margin-top:10px;">
    <div class="center-align">
        <p><b> Bilgileri Güncelle </b></p>
    </div>
    <form class="col s12" style="border-spacing:-50px -50px;">

        <div class="col s12">
            <div class="input-field">
                <input id="proje_adi" value="@Model.ProjeAdi" type="text">
                <label for="proje_adi"><b> Proje Adı :</b></label>
            </div>
        </div>
        <div class="col s12">
            <div class="input-field">
                <input id="proje_adi" type="text" value="@Model.IlgiliPersonel">
                <label for="proje_adi"> <b>Yetkili Kişi :</b></label>
            </div>
        </div>
        <div class="col s12">
            <div class="input-field">
                <input id="proje_adi" type="text" value="@Model.YetkiliTelefon">
                <label for="proje_adi"> <b>Yetkili Telefon :</b></label>
            </div>
        </div>
        <div class="col s12">
            <div class="input-field">
                <input id="proje_adi" type="text" value="@Model.Lokasyon">
                <label for="proje_adi" style="margin-left:5px"> <b>Lokasyon :</b></label>
            </div>
        </div>
        <div class="col s12">
            <div class="input-field">
                <input id="proje_adi" type="text" value="@Model.ProjeTarihi">
                <label for="proje_adi" style="margin-left:5px"> <b>Tarih :</b></label>
            </div>
        </div>
        <div class="col s12">
            <div class="input-field">
                <input id="proje_adi" type="text">
                <label for="proje_adi" style="margin-left:5px"> <b>Saat :</b></label>
            </div>
        </div>
        <div class="col s12">
            <div class="input-field">
                <input id="proje_adi" type="text" value="@Model.IsinAciklamasi">
                <label for="proje_adi" style="margin-left:5px"> <b>İşin Açıklaması :</b></label>
            </div>
        </div>
        <div class="row">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Fotoğraf Yükle</span>
                    <input type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
    </form>
    <div class="center-align">

        <a href="@Url.Action("Index", "Anasayfa")" class="waves-effect waves-light btn-small yellow darken-1 " style="margin-top:5px" onclick="M.toast({html: 'Sayfa Yükleniyor...'})"><b style="color:white"> Beklemeye Al </b></a>
        <a href="@Url.Action("Index", "Anasayfa")" class="waves-effect waves-light btn-small green  darken-1 " style="margin-top:5px" onclick="M.toast({html: 'Kaydediliyor...'})"><b style="color:white"> Kaydet </b></a>
        <a href="@Url.Action("Index", "Anasayfa")" class="waves-effect waves-light btn-small red   darken-1 " style="margin-top:5px"  onclick="M.toast({html: 'Sayfa Yükleniyor...'})"><b style="color:white"> Projeyi Sil </b></a>
    </div>


</div>

