
@{
    ViewData["Title"] = "Rapor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model tiqpwa.ViewModels.ProjeListeViewModel
<div class="row" style="margin-top:20px">
    <img src="~/karaman.png" style="width: 100px" />
    <a href="@Url.Action("Index", "Anasayfa")" class="waves-effect waves-light btn-small red lighten-1 secondary-content" style="margin-top:5px" onclick="M.toast({html: 'Sayfa Yükleniyor...'})"><b style="color:white"> Geri </b></a>
</div>
<div class="card z-depth-3">
    <div class="card-content">
        <table class="centered">
            <thead>
            <tr>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td><b>Proje Adı </b></td>
                <td><span class="large material-icons">more_horiz</span></td>
                <td><b>@Model.Proje.ProjeAdi</b></td>
            </tr>
            <tr>
                <td><b>Yetkili Adı </b></td>
                <td><span class="large material-icons">more_horiz</span></td>
                <td><b>@Model.YetkiliAdiSoyadi</b></td>
            </tr>
            <tr>
                <td><b>Yetkili Telefon </b></td>
                <td><span class="large material-icons">more_horiz</span></td>
                <td><b>@Model.Proje.YetkiliTelefon</b></td>
            </tr>
            <tr>
                <td><b>Lokasyon </b></td>
                <td><span class="large material-icons">more_horiz</span></td>
                <td><b>@Model.Proje.Lokasyon</b></td>
            </tr>
            <tr>
                <td><b>İşe Başlama Tarihi </b></td>
                <td><span class="large material-icons">more_horiz</span></td>
                <td><b>@Model.Proje.ProjeTarihi</b></td>
            </tr>
            <tr>
                <td><b>Tamamlanma Tarihi </b></td>
                <td><span class="large material-icons">more_horiz</span></td>
                <td><b>@Model.Proje.TamamlanmaTarihi</b></td>
            </tr>
            <tr>
                <td><b>İşin Cinsi </b></td>
                <td><span class="large material-icons">more_horiz</span></td>
                <td><b>@Model.IsinCinsiString</b></td>
            </tr>
            <tr>
                <td><b>İşin Konusu </b></td>
                <td><span class="large material-icons">more_horiz</span></td>
                <td><b>@Model.KonuString</b></td>
            </tr>
            <tr>
                <td><b>Yapılan İşin Notları</b></td>
                <td><span class="large material-icons">more_horiz</span></td>
                <td><b>@Model.Proje.ProjeNot</b></td>>
            </tr>
            <tr>
                <td><b>İlave Kullanılan Ürün </b></td>
                <td><span class="large material-icons">more_horiz</span></td>
                <td><b>@Model.Proje.IlaveKullanilanUrun</b></td>
            </tr>
            <tr>
                <td><b>İlgili Personeller</b></td>
                <td><span class="large material-icons">more_horiz</span></td>
                <td>
                    <b>
                        @foreach (var kullanici in Model.Yetkililer)
                        {
                            @kullanici
                            ;
                            <br/>
                        }
                    </b></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="center-align">
    <a href="@Url.Action("Index", "Anasayfa")" class="waves-effect waves-light btn-small blue   darken-1 " style="margin-top:5px" onclick="M.toast({html: 'Uygulama Açılıyor...'})"><b style="color:white"> Mail Gönder </b></a>
</div>
